<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <style>
        body {
            padding-top: 75px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 80px;
            }
        }

        header.jumbotron {
            background-image: url(/public/assets/broken-glass-cracks-texture-82465-3840x2400-2000x1250.jpg);
            margin-bottom: 0;
        }

        header.jumbotron h1,
        header.jumbotron h3 {
            color: white;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
        }

        #best-selling h3 {
            color: transparent;
            text-shadow: 0px 0px 5px black;
            padding-top: 30px;
        }

        #news-section .card-body {
            padding: 50px;
        }

        #best-selling {
            background: -webkit-radial-gradient(95% 10%, farthest-corner, #94525A, #181528);
        }

        .bs-card {
            box-shadow: 5px 5px 5px black;
            background-color: #343a40 !important;
            box-shadow: 0px 0px 11px black;
            /* border-radius: 20px; */
        }

        #recommendations {
            background-image: url(/public/assets/mbr-1495x1080.jpg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #recommendations .panel-item {
            background-color: #010102;
            background: linear-gradient(#010102, transparent);
        }

        .align-center {
            text-align: center;
        }

        #recommendations strong {
            color: white;
            text-shadow: 5px 5px 10px black;
        }
    </style>
    <title>ProGlass Service</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <img class="navbar-brand" width="300" src="/public/assets/logo-big.jpg" alt="ProGlass">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/catalogue">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="jumbotron">
        <h1 class="text-center pb-3 display-3">Glass Machinery</h1>
        <h3 class="text-center pb-3 display-6">Parts & Service</h3>
        <p class="lead text-center">
            <a class="btn btn-primary btn-lg" href="/catalogue" role="button">Catalogue</a>
        </p>
    </header>

    <section id="news-section" class="pb-5">
        <h3 class="text-center display-4 p-4">News</h3>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <% news.forEach(function(n) { %>
                    <article class="col col-sm-6 col-md-4 col-lg-3">
                        <div class="shadow card text-primary bg-white mb-2 rounded" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <%= n.title %>
                                </h4>
                                <p class="card-text">
                                    <%= n.content %>
                                </p>
                            </div>
                        </div>
                    </article>
                <% }); %>
            </div>
        </div>
    </section>

    <section id="best-selling" class="pb-5">
        <h3 class="text-center display-4">Top selling</h3>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <% topSelling.forEach(function(n) { %>
                    <article class="p-3 col-12 col-md-6 col-lg-2">
                        <div class="card h-100 p-3 mb-5 rounded bs-card text-white">
                            <a <%= n.imgsrc ? 'target="_blank"' : '' %> href="<%= n.imgsrc || '#' %>">
                                <img class="card-img-top" src="<%= n.imgsrc %>" alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <%= n.name %>
                                </h4>
                                <h5 class="text-white">CODE:
                                    <%= n.code %>
                                </h5>
                                <p class="card-text">
                                    <%= n.description %>
                                </p>
                            </div>
                            <!-- <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div> -->
                        </div>
                    </article>
                <% }); %>
            </div>
    </section>

    <section id="recommendations">
        <div class="container">
            <div class="row">
                <div class="title col-12 align-center">
                    <h2 class="pb-3 mbr-fonts-style display-2">
                        <strong style="font-size: 70px">
                            WHAT OUR USERS SAY
                        </strong>
                    </h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <% opinions.forEach(function(n) { %>
                    <article class="align-center col-12 col-md-10 mb-5">
                        <div class="panel-item p-4">
                            <div class="card-block">
                                <p class="mbr-text mbr-fonts-style mbr-white display-7" style="color: white; font-size: 40px">
                                    <%= n.content %>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="mbr-author-name mbr-bold mbr-fonts-style mbr-white display-7" style="color: white; font-size: 30px">
                                    <%= n.name %>
                                </div>
                            </div>
                        </div>
                    </article>
                <% }); %>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">© Copyright 2018 ProGlass Service - All Rights Reserved</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>